body{
    padding:0;
    margin:0;
    max-width:100%;
    overflow-x:hidden;
    font-family:sans-serif;
}

h1,h2,h3{
    margin:20px;
}    

.inline-block{
    display:inline-block;
    vertical-align:top;
    margin:0;
}

pre{
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    margin-left:20px;
}

.error-pre{
    padding:10px;
    font-size:15px;
    color:red;
}

button{
    display:block;
    margin:auto;
    border:none;
    background:#3af;
    color:#fff;
    padding:20px;
    font-size:16px;
    margin-bottom:50px;
}

.cinema-title{
    position: absolute;
    top:0;
    left:0;
    height:20px;
    line-height:20px;
    font-size:20px;
}

.cinema-title a{
    font-weight:300;
    color:#fff;
    text-decoration: none;
    text-shadow:1px 1px 0 rgba(0, 0, 0, 0.2), -1px -1px 0 rgba(0, 0, 0, 0.2);
}

.cinema-controls{
    position:absolute;
    bottom:0px;
    right:10px;
}

.cinema-previous, .cinema-next{
    color:#fff;
    background: rgba(0, 0, 0, 0.1);
    padding:4px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cinema-previous:hover, .cinema-next:hover{
    background: rgba(0, 0, 0, 0.4);
}