body{
    padding:0;
    margin:0;
    max-width:100%;
    overflow-x:hidden;
    font-family:sans-serif;
}

h1,h2,h3{
    margin:20px;
}    

.inline-block{
    display:inline-block;
    vertical-align:top;
    margin:0;
}

pre{
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    margin-left:20px;
}

.error-pre{
    padding:10px;
    font-size:15px;
    color:red;
}

button{
    display:block;
    margin:auto;
    border:none;
    background:#3af;
    color:#fff;
    padding:20px;
    font-size:16px;
    margin-bottom:50px;
}
